CREATE DATABASE [Films]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Films', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Films.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Films_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Films_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [Films]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Films] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO

USE [Films]
GO

/****** Object:  Table [dbo].[Films]    Script Date: 15/06/2016 14:36:23 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Films](
	[Title] [nvarchar](max) NULL,
	[Year] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO


